<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Quick Play</title>
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="/css/game.css">
    </head>
    <body>
    <nav>
        <div class="logo" style="margin-bottom: 0rem; font-weight: normal">
            <h4 style="color: #fff">Bad Quiz</h4>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/play">Play</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
        <div id="burger" class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    
    <div class="container" style="display:block;">
    <div id="game" class="justify-center flex-column">
        
    <%- inline %>



</div></div><script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script><script src="/js/game.js"></script></body></html>