<!DOCTYPE html>
<html lang="en">

<head>
	<title>History</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/css/history.css">
</head>

<body>
	<nav>
		<div class="logo">
			<h4 style="color: #fff; font-weight: 400;">Bad Quiz</h4>
		</div>
		<ul class="nav-links">
			<li><a href="/">Home</a></li>
			<li><a href="play">Play</a></li>
			<li><a href="help">Help</a></li>
		</ul>
		<div id="burger" class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table">

					<div id="rowHeader" class="row header">
						<div class="cell">
							Game ID
						</div>
						<div class="cell">
							Game Score
						</div>
						<div class="cell">
							Game time
						</div>
                    </div>
                    <%- gameTable %>
				</div>
			</div>
		</div>
	</div>





	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/js/history.js"></script>

</body>

</html>