<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/css/util.css"> 
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/css/main.css"> 
	<!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">  -->
    <script data-cfasync="false" src="https://apis.google.com/js/api:client.js"></script>
</head>

<body>
	<nav>
		<div class="logo">
			<h4 style="color: #fff">Bad Quiz</h4>
		</div>
		<ul class="nav-links">
			<li><a href="/">Home</a></li>
			<li><a href="play">Play</a></li>
			<li><a href="register">Register</a></li>
			<li><a href="help">Help</a></li>
		</ul>
		<div id="burger" class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>

					<a id="facebook" href=<%-facebookLoginUrl %> class="btn-face m-b-20">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>
					<a href="#" id="btn-google" class="btn-google m-b-20">
						<img src="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/images/icons/icon-google.png" alt="GOOGLE">
						Google
					</a>

					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
					</div>
					<div id="userdiv" class="wrap-input100 validate-input" data-validate="Username is required" invalid="Email is wrong">
						<input id="userin" class="input100" type="text" name="email">
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>

						<a href="forgot" class="txt2 bo1 m-l-5">
							Forgot password?
						</a>
					</div>
					<div id="passdiv" class="wrap-input100 validate-input" data-validate="Password is required" invalid="Password is wrong">
						<input id="passin" class="input100" type="password" name="password">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button name="btnLogin" id="btnLogin" class="login100-form-btn" disabled>
							Sign In
						</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

						<a href="register" class="txt2 bo1">
							Sign up now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>

	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/js/main.js"></script>
	<!-- <script src="js/app.js"></script> -->
	<script>
		$(document).ready(function() {
			$("#btnLogin").prop("disabled", false);
			
		});
	</script>
	<script>
		startApp();
	</script>
</body>

</html>