<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quick Play</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/css/game.css">
</head>

<body>
    <div class="container">
        <div id="loader"></div>
        <div id="game" class="justify-center flex-column hidden">
            <div id="hud">
                <div id="hud-item">
                    <p id="progressText" class="hud-prefix">
                        Question
                    </p>
                    <div id="progressBar">
                        <div id="progressBarFull"></div>
                    </div>

                </div>
                <div id="hud-item">
                    <p class="hud-prefix">
                        Score
                    </p>
                    <h1 id="score" class="hud-main-text">
                        0
                    </h1>
                </div>
            </div>

            <h2 id="question"></h2>
            <div class="choice-container">
                <p class="choice-prefix">A</p>
                <p class="choice-text" data-number="1"></p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">B</p>
                <p class="choice-text" data-number="2"></p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">C</p>
                <p class="choice-text" data-number="3"></p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">D</p>
                <p class="choice-text" data-number="4"></p>
            </div>

            <div id="hud" style="flex-direction: row-reverse;">
                <div id="time-item">
                    <p class="hud-prefix" style="color: #ba000c">
                        Timer
                    </p>
                    <h1 id="time" class="hud-main-text" style="color: #ba000c">
                        10
                    </h1>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/js/game.js"></script>
</body>

</html>