<!DOCTYPE html>
<html lang="en">

<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/css/util.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/css/main.css"> 
    <script data-cfasync="false" src="https://apis.google.com/js/api:client.js"></script>
</head>

<body>
	<nav>
		<div class="logo">
			<h4 style="color: #fff">Bad Quiz</h4>
		</div>
		<ul class="nav-links">
			<li><a href="/">Home</a></li>
			<li><a href="play">Play</a></li>
			<li><a href="login">Login</a></li>
			<li><a href="help">Help</a></li>
		</ul>
		<div id="burger" class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w">
					<span id="HeadSpan" class="login100-form-title p-b-53">
						Sign Up With
					</span>

					<a id="facebook" href=<%-facebookLoginUrl %> class="btn-face m-b-20">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>

					<a href="#" id="btn-google" class="btn-google m-b-20">
						<img src="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/images/icons/icon-google.png" alt="GOOGLE">
						Google
					</a>

					<div id="fnameinfoDiv" class="p-t-31 p-b-9">
						<span class="txt1">
							First name
						</span>
					</div>
					<div id="fnamediv" class="wrap-input100 validate-input" data-validate="First name is required">
						<input id="fnamein" class="input100" type="text" name="fname">
						<span class="focus-input100"></span>
					</div>

					<div id="lnameinfoDiv" class="p-t-31 p-b-9">
						<span class="txt1">
							Last name
						</span>
					</div>
					<div id="lnamediv" class="wrap-input100 validate-input" data-validate="Last name is required">
						<input id="lnamein" class="input100" type="text" name="lname">
						<span class="focus-input100"></span>
					</div>

					<div id="emailinfoDiv" class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
					</div>
					<div id="emaildiv" class="wrap-input100 validate-input" data-validate="Email is required" invalid="Email is invalid" taken="Email is already taken">
						<input id="emailin" class="input100" type="text" name="email">
						<span class="focus-input100"></span>
					</div>

					<div id="passinfodiv1" class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>
					</div>
					<div id="passinDiv" class="wrap-input100 validate-input" data-validate="Password is required" invalid="Password is invalid" nomatch="Passwords do not match">
						<input id="passin" class="input100" type="password" name="password">
						<span class="focus-input100"></span>
					</div>

					<span id="passInfoDiv" class="txt2">
						Password must be minimum 8 characters and must contain at least one uppercase letter, lowercase letter and a digit
					</span>

					<div id="passrepdiv" class="p-t-13 p-b-9">
						<span class="txt1">
							Repeat Password
						</span>
					</div>
					<div id="passinrepDiv" class="wrap-input100 validate-input" data-validate="Password is required" invalid="Password is invalid" nomatch="Passwords do not match">
						<input id="passrepin" class="input100" type="password" name="password">
						<span class="focus-input100"></span>
					</div>

					<div id="btnRegDiv" class="container-login100-form-btn m-t-17">
						<button name="btnReg" id="btnReg" class="login100-form-btn" disabled>
							Sign Up
						</button>
					</div>

					<div id="alreadyMem" class="w-full text-center p-t-55">
						<span class="txt2">
							Already got an account?
						</span>

						<a href="login" class="txt2 bo1">
							Sign in now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>

	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<!-- <script src="vendor/bootstrap/js/popper.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
	<script unsafe-inline src="https://cdn.jsdelivr.net/gh/matey1116/badquiz-nodejs/static/js/main.js"></script> 
	<script>
		$(document).ready(function() {
			$("#btnReg").prop("disabled", false);
		});
	</script>
	<script>
		startApp();
	</script>
</body>

</html>